#services{
    flex-direction: column;
}
#client-section{
    overflow: hidden;
}
#home h1 {
    font-size: 1.3rem;
    text-align: center;
}

#home p {
    font-size: 1rem;
}
#navbar{
    flex-direction: column;
}
#home{
    height: 289px;
    padding: 3px 34px;
}

#home::before {
    height: 409px;
}

#client img {
    height: 52px;
}

#navbar ul li a{
    padding: 3px 8px;
}
#navbar ul li {
    font-size: 1rem;
}

.client-item{
    padding: 7px;
}
